############################
# Python
############################
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
build/
dist/

############################
# Virtual Environment
############################
.venv/
venv/
env/
ENV/

############################
# IDE
############################
.idea/
.vscode/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
*.log

############################
# Training outputs
############################
runs/
checkpoints/
artifacts/

############################
# Dataset
############################
data/raw/
data/interim/
data/processed/

############################
# Model weights
############################
*.pt
*.pth
*.ckpt
*.onnx

############################
# TensorBoard
############################
events.out.tfevents*

############################
# Cache
############################
.cache/
*.cache
