# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env / local env
.env
.venv

# Data
data/interim/
data/processed/

# Generated manifests
data/manifests/

# Training artifacts
artifacts/experiments/**/checkpoints/
artifacts/experiments/**/tensorboard/
artifacts/experiments/**/*.pt
artifacts/experiments/**/*.jsonl

# Editor / system
.vscode/
.idea/
.DS_Store